extends layout
block content
    .row
        .col-lg-12
            .page-header
                h1 Welcome to ConfStack!
    .row
        .col-lg-12
            p This is the home of the most excellent conference you'll find.
