doctype
html
    head
        title= title
        link(href='/css/flatly-bootstrap.min.css',rel='stylesheet')
        link(href='/css/site.css',rel='stylesheet')
        script(src='/vendor/underscore/underscore.js')
        script(src='/vendor/jquery/dist/jquery.min.js')
        script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    body
        include _navbar
        .container
            block content
        include _footer
