doctype
html
    head
        title= title
        link(href='/vendor/bootstrap/dist/css/bootstrap.min.css',rel='stylesheet')
        link(href='/vendor/bootstrap/dist/css/bootstrap-theme.min.css',rel='stylesheet')
        link(href='/css/site.css',rel='stylesheet')
        script(src='/vendor/underscore/underscore.js')
        script(src='/vendor/jquery/dist/jquery.min.js')
        script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    body
        section.container#body
            .page-header
                h1= title
            block content
        hr
        include _footer
