extends layout
block content
    h1= title
    if error
        h2= error
    h3 The sessions are:
    each session in sessions
        .row.session
            .well
                h4= session.title
                em= session.speaker