html {
    position: relative;
    min-height: 100%;
}

body {
    font: 14px Helvetica, Arial, sans-serif;
    color: #222222;
    margin-bottom: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #ecf0f1;
    color: #505050;
}